/*		Fonts		*/
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/OpenSans-Bold.ttf');
    src: url('../fonts/OpenSans-Light.ttf'),
         url('../fonts/OpenSans-Semibold.ttf'),
         url('../fonts/OpenSans-Italic.ttf'),
         url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;

}





/* Landing page segment */

body,
html {
  width: 100%;
  height: 100%; 

}

body {
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    background-blend-mode: screen;
    background-image: url('/images/picture1.jpg');
    background-color: #d86f85;
    background-size: cover;
	padding: 0px;
	margin: 0px;
}

video {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
}

.overlay {
    position: relative;
    text-align: center;
    justify-content: center;
    z-index: 10;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 60px;
    display: inline-block;

}

p{
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 40px;
    display: inline-block; 
}
p{
    font-family: "open_regular", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 30px;
    display: inline-block; 

}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary {
  background-color: #B25D71;
  border-color: white; 
  border-width: 3px;
}

.btn-primary:hover {
  background-color: #ce889f;
  border-color: white;
  border-width: 5px;
  cursor: pointer;
}
  
/*icons*/
.row {
    display: flex;
    border-radius: 50%;
}

.column{
    flex: .25%;
    padding: 0px;
    border-radius: 50%;
}


/* End of landing page segment */

/*Media queries */
@media only screen and (max-width: 980px){
    .column {
        width: 100%;
    }

    .video-container {
        max-width: 100%;
        max-height: 100%;
    }
    video {
        max-width: 100%;
        max-height: 100%;
    }
    h1{
        max-width: 100%;
    }

}
@media only screen and (max-width: 768px){
    .column {
        width: 100%;
    }

    .video-container {
        max-width: 100%;
        max-height: 100%;
    }
    video {
        max-width: 100%;
        max-height: 100%
    }
    h1{
        max-width: 100%;
    }

}
@media only screen and (max-width: 640px){
    .column {
        width: 100%;
    }

    .video-container {
        max-width: 100%;
        max-height: 100%;
    }
    video {
        max-width: 100%;
        max-height: 100%;
    }
    h1{
        max-width: 100%;
    }

}